footer{
    text-align: center;
    background-color: #8c8d83 ;
    width: 25%;
    border-radius: 10px;
    border: rgb(92, 89, 86) solid;
}
h1{
    text-align: center;
    color:#D1E8E2;
    font-size : 96px;
    font-family: Apple Chancery, cursive;
}
header{
    background-color: #044a5d;
    margin-top: -70px;
    height: 160px;
}
body{
    background-color:#2c3531;
}
.navigation{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.presentation {
    display: inline-block;
    background-color: #3d4944;
    border:#044a5d , solid ;
}

.photoPres {
    float: left;
    margin-right: 5px; 
    clear:both;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 154, 129);
}
.presentation p {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-family: Arial, Helvetica, sans-serif;
    color:antiquewhite ;
    font-size: 26px;
}
a{
    text-align: center;
    border:#2c3531 solid;
}